process/n8n免費串接Gorq服務，帶你完成超極速語音轉文字應用服務！ (2)/groq_01.json
{
  "name": "My workflow 30",
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -440,
        -140
      ],
      "id": "4ae34d31-c2d9-4056-ab59-52acb0e2c617",
      "name": "When chat message received",
      "webhookId": "57969f50-f0c5-4ae1-b1c5-97ae8f28311a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9cfc780-4e41-4ace-b4ca-de59482a8a69",
              "name": "files",
              "value": "={{ $json.files }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -220,
        -140
      ],
      "id": "bcd6c0e0-6128-4d5f-98f4-6b09649c8ca4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "bearer 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"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data0"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "prompt",
              "value": "用這個前置詞才有機會轉成繁體中文"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "name": "timestamp_granularities[]",
              "value": "word"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -140
      ],
      "id": "192f6f10-740f-4397-820c-e732d38696ec",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "860058e0-46c4-4060-8b88-c5f9fbfc8765",
  "meta": {
    "instanceId": "ff933d7646f4ba467d230aff2ba55c4943803047ace9c7da46a4faec12cfd231"
  },
  "id": "gib1pkGPRG3u10ev",
  "tags": []
}