process/n8n_merge.json
{
  "name": "n8n_merge",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -540,
        0
      ],
      "id": "208c99ab-069a-46a5-b5c3-0292b5aa96f4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [ { json: { name: \"Alice\", age: 17 } }, { json: { name: \"Bob\", age: 22 } }, { json: { name: \"Charlie\", age: 19 } } ]; \n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        0
      ],
      "id": "5fafa553-742e-486e-a7fa-2b545fc2df97",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4cbe29d3-959c-4e61-955f-d00dbeccd4d8",
              "leftValue": "={{ $json.age }}",
              "rightValue": 18,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -100,
        0
      ],
      "id": "f95fca0a-ef02-4232-bbdd-70b898c18c3b",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a060d02-1f5e-4caa-ba5e-f6ca862368ab",
              "name": "status",
              "value": "成人",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        -100
      ],
      "id": "b24e2e82-9568-4bf0-ab30-b1c589096dfe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e55ef977-e8ca-4d9c-8307-c32629195998",
              "name": "status",
              "value": "未成年",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        100
      ],
      "id": "78388ecc-e331-4c3e-9d0a-4818ef77326f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        420,
        0
      ],
      "id": "711bec2d-aecf-48c8-931c-1f0ea7920228",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        220
      ],
      "id": "d4d12e4f-45f1-4a74-8b25-6ec7432e548b",
      "name": "Error Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "69a036ec-d991-497e-8861-971e90c84209",
  "meta": {
    "instanceId": "a5f7e18c420f6546e188eb6afd19a4b5c69e78c2337eeb5e752bf3103640688b"
  },
  "id": "BgDYpvvKPTn4FpzW",
  "tags": []
}